## Crud (create, read, update, delete) Operations

In [2]:
# Create connection

import pymysql

con = pymysql.connect(host='localhost', user='root', passwd='', db='test')
cur = con.cursor()

### Create Database

In [6]:
# create database

q = 'create database test'
# q = 'create database if not exists test'
cur.execute(q)

1

### Create Table

In [9]:
# create table

q = 'create table student(id int primary key, name varchar(30), prog_lang  varchar(30))'
cur.execute(q)

0

### Insert Data into table

In [11]:
# insert data into table

q = 'insert into student(id, name, prog_lang) values(1, "Garry Gill", "Python")'
cur.execute(q)

1

In [12]:
# insert multiple values

q = 'insert into student(id, name, prog_lang) values(2, "Ramesh Prasad", "php"), (3, "Chaman Sharma", "Java"), \
    (4, "Baljeet Singh", "C"), (5, "Navneet Kaur", "Java")'
cur.execute(q)

4

In [13]:
# to save data into database

con.commit()

### Read Data from Table

In [34]:
# read data (how many row present)

cur.execute('select * from student')

5

In [21]:
# fetch one row

cur.execute('select * from student')
data = cur.fetchone()
print(data)

(1, 'Garry Gill', 'Python')

In [25]:
# fetch next row

data = cur.fetchone()
print(data)

(2, 'Ramesh Prasad', 'php')

In [32]:
# fetch multiple row

cur.execute('select * from student')
data = cur.fetchmany(3)
print(data)

((1, 'Garry Gill', 'Python'), (2, 'Ramesh Prasad', 'php'), (3, 'Chaman Sharma', 'Java'))

In [33]:
# fetch next after 3 row

# cur.execute('select * from student')
data = cur.fetchmany(3)
print(data)

((4, 'Baljeet Singh', 'C'), (5, 'Navneet Kaur', 'Java'))

In [41]:
# fetch all data (row)
cur.execute('select * from student')
data = cur.fetchall()
# print(data)

for i in data:
    print(i)

(1, 'Garry Gill', 'Python')
(2, 'Ramesh Prasad', 'php')
(3, 'Chaman Sharma', 'Java')
(4, 'Baljeet Singh', 'C')
(5, 'Navneet Kaur', 'Java')

### where clause

In [3]:
# where

cur.execute('select * from student where prog_lang = "Java"')
data = cur.fetchall()
print(data)

((3, 'Chaman Sharma', 'Java'), (5, 'Navneet Kaur', 'Java'))

In [4]:
# like

cur.execute('select * from student where prog_lang like "J%"')
data = cur.fetchall()
print(data)

((3, 'Chaman Sharma', 'Java'), (5, 'Navneet Kaur', 'Java'))

In [5]:
# like

cur.execute('select * from student where prog_lang like "p%"')
data = cur.fetchall()
print(data)

((1, 'Garry Gill', 'Python'), (2, 'Ramesh Prasad', 'php'))

### Update

In [7]:
cur.execute('select * from student')
data = cur.fetchall()

for i in data:
    print(i)

(1, 'Garry Gill', 'Python')
(2, 'Ramesh Prasad', 'php')
(3, 'Chaman Sharma', 'Java')
(4, 'Baljeet Singh', 'C')
(5, 'Navneet Kaur', 'Java')

In [8]:
cur.execute('update student set name= "Akku" where prog_lang = "C"')
con.commit()

In [9]:
cur.execute('select * from student')
data = cur.fetchall()

for i in data:
    print(i)

(1, 'Garry Gill', 'Python')
(2, 'Ramesh Prasad', 'php')
(3, 'Chaman Sharma', 'Java')
(4, 'Akku', 'C')
(5, 'Navneet Kaur', 'Java')

### Delete

In [11]:
cur.execute('delete from student where id=2')
con.commit()

In [12]:
cur.execute('select * from student')
data = cur.fetchall()
for i in data:
    print(i)

(1, 'Garry Gill', 'Python')
(3, 'Chaman Sharma', 'Java')
(4, 'Akku', 'C')
(5, 'Navneet Kaur', 'Java')